/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* src/App.css */
.compras {
  margin: 20px;
}

.compras form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Alinha os inputs em coluna */
}

.compras input {
  margin-bottom: 10px; /* Espaço entre os inputs */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.compras button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.compras button:hover {
  background-color: #0056b3;
}

.compras h3 {
  margin-top: 20px;
}

.compras ul {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
}

.compras li {
  padding: 8px;
  border-bottom: 1px solid #ccc; /* Linha separadora entre as compras */
}

/* src/App.css */
.relatorios {
  margin: 20px;
}

.relatorios h2 {
  margin-bottom: 15px;
}

.relatorios ul {
  list-style-type: none; /* Remove marcadores de lista */
  padding: 0; /* Remove padding padrão */
}

.relatorios li {
  padding: 8px;
  border-bottom: 1px solid #ccc; /* Linha separadora entre os relatórios */
}