/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2e2e2;
}


/* Configurando O forme do login */
form {
  background: rgb(253, 253, 253);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto; /* Centraliza o formulário */
}

/* Para telas grandes (acima de 1200px) */
@media (min-width: 1200px) {
  form {
    width: 40%; /* Formulário menor em telas maiores */
  }
  button{
    width: 55%;
  }
}

/* Para tablets (entre 768px e 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
  form {
    width: 60%; /* Formulário ocupa mais espaço */
    padding: 15px; /* Reduz um pouco o padding */
  }

  button{
    width: 60%;
  }
}

/* Para smartphones grandes (entre 576px e 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  form {
    width: 80%; /* Formulário ocupa quase toda a largura */
    padding: 10px; /* Padding reduzido */
  }
  button{
    width: 70%;
  }
}

/* Para smartphones pequenos (abaixo de 576px) */
@media (max-width: 575px) {
  form {
    width: 90%; /* Quase 100% da tela */
    padding: 10px;
    border-radius: 5px; /* Bordas mais suaves */
  }
  button{
    width: 100%;
  }
 
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* src/App.css */
.compras {
  margin: 20px;
}

.compras form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Alinha os inputs em coluna */
}

.compras input {
  margin-bottom: 10px; /* Espaço entre os inputs */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.compras button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.compras button:hover {
  background-color: #0056b3;
}

.compras h3 {
  margin-top: 20px;
}

.compras ul {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
}

.compras li {
  padding: 8px;
  border-bottom: 1px solid #ccc; /* Linha separadora entre as compras */
}

/* src/App.css */
.relatorios {
  margin: 20px;
}

.relatorios h2 {
  margin-bottom: 15px;
}

.relatorios ul {
  list-style-type: none; /* Remove marcadores de lista */
  padding: 0; /* Remove padding padrão */
}

.relatorios li {
  padding: 8px;
  border-bottom: 1px solid #ccc; /* Linha separadora entre os relatórios */
}