.menu-principal {
  display: flex;
}

.sidebar {
  display: none; /* Esconde o sidebar por padrão */
  flex-direction: column;
  background-color: #333;
  color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Esconde o sidebar fora da tela */
}

.sidebar.open {
  display: flex; /* Mostra o sidebar quando aberto */
  transform: translateX(0); /* Move o sidebar para a tela */
}

.sidebar-toggle {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Para garantir que o botão fique acima do sidebar */
}

.content {
  margin-left: 220px; /* Espaço para o sidebar */
  padding: 20px;
  flex-grow: 1;
}